<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MedScape Automation Test" verbose="1" >

 <listeners>
   <listener class-name="com.crm.qa.ExtentReportListener.ExtentReporterNG"/>
 </listeners>

<test name="MedScape" >
    <classes>
      <class name="com.crm.qa.TestCases.LoginPageTest"></class>
      <class name="com.crm.qa.TestCases.HomePageTest"></class>
      <class name="com.crm.qa.TestCases.ViewAllPagesTest"></class>
      <class name="com.crm.qa.TestCases.NovalCoronaVirusTest"></class>
      <class name="com.crm.qa.TestCases.ResidencyPageTest"></class>
    </classes>
 </test>
</suite>